@charset "utf-8";


body{
    color: #fff;
	background:url("../sozai/haikei15.jpg");
}

header{
	position: relative;
	padding-top: 4px;
	text-align: center;
	background: url("../sozai/haikei26.jpg");
}

header .g_nav{
	border-bottom:1px solid #6e7070;
}

header .g_nav ul{
	overflow:hidden;
}

header .g_nav ul li{
	width:50%;
	float:left;
}

header .g_nav ul li a{
	font-size:13px;
	display:block;
	padding:12px 0;
	color:#ffffff;
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

header .g_nav ul li a:hover{
	color:#ffffff;
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

#slideBtn {
	width: 50px;
	margin: 0 20px 0 auto;
	padding: 0 0 10px;
}

#slideBtn a {
    margin: 0;
    font-size: 300%;
    color: #555;
    text-align: center;
    display: block;
    line-height: 0;
}

.slideNavi {
	position: absolute;
	top: 150px;
	right: 0;
	z-index: 99999;
    display: none;
    width: 80%;
    margin: 0 auto;
    background: #000;
}

.slideNavi li a {
	display: block;
	padding: 10px 0;
	color: #fff;
	font-size: 13px;
	border-bottom: 1px solid #fff;
}

.slideNavi li a:hover {
	background: #007AFF;
}

.slideNavi li:first-child a {
	border-top: 1px solid #fff;
}

.closeBtn a {
    display: block;
    padding: 15px 0;
    color: #fff;
    background: #555;
}

/*----------ハンバーガーアイコン----------*/
.hamburger {
    position: absolute;
    bottom: -20%;
    right: 20px;
    display: block;
    width: 32px;
    height: 20px;
    margin: 3% 0 0;
    z-index: 100000;
    box-sizing: border-box;
}
.hamburger:hover {
    cursor: pointer;
}
.hamburger  span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
}
.hamburger  span:nth-of-type(1) {
  top: 0;
}
.hamburger  span:nth-of-type(2) {
  top: 9px;
}
.hamburger.active  span:nth-of-type(2) {
  top: 20px;
}
.hamburger  span:nth-of-type(3) {
  bottom: 0;
}

.hamburger span:nth-of-type(3),
.hamburger.active span:nth-of-type(3) {
  transition: none;
}
.hamburger.active {
  -webkit-transform: rotateX(720deg);
  transform: rotateX(720deg);
}
.hamburger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.hamburger.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.hamburger.active span:nth-of-type(3) {
  opacity: 0;
}

/*
.navi_fixed {
    position: fixed;
    top: 0;
    right: 20px;
}
*/
/*----------ナビゲーション----------*/
#navigation {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  z-index: 99999;
}
#navigation .navigation_inner {
  display: table;
  width: 100%;
  height: 100%;
}
#navigation .navigation_inner .navigation_menu {
  display: table-cell;
  vertical-align: middle;
}
#navigation .navigation_inner .navigation_menu a {
	display: block;
	padding: 10px 0;
	color: #fff;
}
#navigation .navigation_inner .navigation_menu a:hover {
	text-decoration: underline;
}
#navigation .navigation_inner .navigation_menu .navigation_item {
  width: auto;
  height: auto;
  margin: 16px auto 0 auto;
}
#navigation .navigation_inner .navigation_menu .navigation_item:first-child {
  margin-top: 0;
}
#navigation .navigation_inner .navigation_menu .navigation_item a {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  line-height: 40px;
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.g_nav {
	display: none;
}

.contents{
	width:90%;
	margin:0 auto;
	color:#ffffff;
}

.contents:after,
.float:after,
.rightWrapBox:after
{
	display: block;
	content: "";
	visibility: hidden;
	clear: both;
	font-size: 0;
	height: 0;
}

.rightWrapBox {
	width: 100%;
}

.contents .left_box,
.contents .right_bottom_box,
.instgramBox
{
	width:100%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:24px;
	margin-top:24px;
	padding-top:24px;
	padding-bottom:12px;
	background:url("../sozai/haikei14.jpg");
}

.right_box {
	width:100%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:24px;
	padding-top:24px;
	padding-bottom:12px;
	background:url("../sozai/haikei14.jpg");
}

.contents .left_box {
	margin-top:24px;
}

.instgram {
    width: 90%;
    margin: 0 auto;
}


.instgram li {
	width: 100%;
	margin: 30px auto 0;
}

.instgram .title {
	display: block;
	text-align: center;
}

.instgram img {
    width: 100%;
}

.bio_mainvisual{
	width:70%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:24px;
}

.bio_honbun{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	font-size:13px;
	margin-bottom:24px;
}

.contents .left_box .topics li,
.contents .right_box .topics li
{
	border-bottom:1px solid #6e7070;
}

.left_box .topics li:first-child,
.right_box .topics li:first-child
{
	border-top:1px solid #6e7070;
}

.instgramBox:after,
.instgramBox ul:after
{
	content: "";
	display: block;
	font-size: 0;
	visibility: hidden;
	height: 0;
	clear: both;
}

.contents .right_box{
	background:url("../sozai/haikei21.jpg");
}

.contents .right_bottom_box{
	background:url("../sozai/haikei09.jpg");
}

.contents .right_box h2,
.contents .right_bottom_box h2
{
	width:90%;
	margin-right:auto;
	margin-left:auto;
}

.contents .left_box h2 {
	width:90%;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}

.more{
	display:none;
}

.date, h3 {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
    text-align: left;
    margin-bottom: 24px;
}

.date{
	padding-top:1em;

}

h3{
	color:#dcdcdc;
}

.link{
	color:#ff0089;
}

.link:hover{
text-decoration:underline;
}

.honbun1,
.honbun2
{
	width:90%;
	margin: 0 auto 24px;
	font-size:13px;
}

.contents .left_box .topics .honbun1 a {
	color: #fff;
}

.contents .left_box .topics .honbun1 a:hover {
	text-decoration: underline;
}

.contents .right_bottom_box .banar_list li{
	width:100%;
	margin: 0 auto 12px;
}

.contents .right_bottom_box .banar_list .larc a{
	display:block;
	width:190px;
	height:40px;
	background-image: url("../image/bh_larc.jpg");
	text-indent:-9999px;
	margin-right:auto;
	margin-left:auto;
}


.contents .right_bottom_box .banar_list .larc a:hover{
	background-position:left bottom;
}


.contents .right_bottom_box .banar_list .gazetto a{
	display:block;
	width:190px;
	height:40px;
	background-image: url("../image/bh_gazetto.jpg");
	text-indent:-9999px;
	margin-right:auto;
	margin-left:auto;
}


.contents .right_bottom_box .banar_list .gazetto a:hover{
	background-position:left bottom;
}


.contents .right_bottom_box .banar_list .alice a{
	display:block;
	width:190px;
	height:40px;
	background-image: url("../image/bh_alice.jpg");
	text-indent:-9999px;
	margin-right:auto;
	margin-left:auto;
}


.contents .right_bottom_box .banar_list .alice a:hover{
	background-position:left bottom;
}


.twitter{
	margin-bottom:24px;
}

.twitter #twitter-widget-0{
	width:100% !important;
}


.twitter-timeline{
	width:100%;
	margin-right:auto;
	margin-left:auto;
}

footer{
	color:#ffffff;
	text-align:center;
	background:url("../sozai/haikei26.jpg");
}

footer p{
	clear: both;
	width:90%;
	font-size:0.8em;
	margin-right:auto;
	margin-left:auto;
	padding-top:12px;
}

.fLink li a {
	display: block;
	padding: 10px 0;
	color: #fff;
	font-size: 13px;
	border-bottom: 1px solid #fff;
	background: #000;
	transition: 0.5s;
}

.fLink li a:hover {
	background: #007AFF;
}

.fLink li:first-child a {
	border-top: 1px solid #fff;
}

#pagetop{
	background:#262626;
	border-radius:5px;
	color:#FFF;
	padding:20px;
	position:fixed;
	bottom:100px;
	right:20px;
}

#pagetop:hover{
	background:#EEE;
}

/******************************************
pager
******************************************/

.pager {
    width: 260px;
    margin: 30px auto 0;
    text-align: center;
}

.pager:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.pager li {
    display: inline-block;
    text-align: center;
}

.pager li a,
.pager li em
{
    display: block;
    width: 40px;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #0000ff;
}

.pager li a:hover {
    display: block;
    color: #fff;
    background: #0000ff;
}

.shopping_memberBox {
	display: none;
}

/*ボタンここから*/
input[type="button"],
input[type="submit"]
 {
	transition: 0.5s;
}

a {
	transition: 0.5s;
}

.linkBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.linkBtn a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
    border-color: #d43f3a;
    transition: 0.5s;
}

.linkBtn a:hover {
    background-color: #00CE6F;
}

.btnList {
    margin: 30px 0;
    text-align: center;
}

.btnList li {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 0;
    text-align: center;
}

.btnList li input {
    display: block;
    width: 135px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    background-color: #f0ad4e;
    border-color: #eea236;
    transition: 0.5s;
}

.btnList li input:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.backBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.backBtn a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
    border-color: #d43f3a;
    transition: 0.5s;
}

.backBtn a:hover {
    background-color: #00CE6F;
}
/*ボタンここまで*/


/* 商品購入
----------------------------------------------------------- */

.list-shopping-flow {
    display: table;
    width: 100%;
    list-style: none;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.list-shopping-flow li.active {
    background-color: #C94047;
}

.list-shopping-flow li {
    text-align: center;
    background-color: #E09196;
    color: #fff;
    font-size: 80%;
    font-weight: bold;
    width: 12%;
    height: 44px;
    line-height: 17px;
    display: table-cell;
    padding-left: 5px;
}

.list-shopping-flow li:before {
    display: block;
    background: #E09196;
    width: 15px;
    height: 22px;
    border-right: 2px solid #F6F0E3;
    margin: 0 -11px -17px auto;
    content: " ";
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    transform: skew(20deg);
}

.list-shopping-flow li:after {
    display: block;
    background: #E09196;
    width: 15px;
    height: 22px;
    border-right: 2px solid #F7F1E4;
    margin: -17px -11px 0 auto;
    content: " ";
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
}

.list-shopping-flow li.active:before, .list-shopping-flow li.active:after {
    background: #C94047;
}

p.addbtn {
    clear: both;
    text-align: right;
}


@media screen and (min-width: 768px){

header .g_nav ul li{
	width:16.66%;
}

.g_nav {
	display: block;
}

.hamburger {
	display: none;
}

#navigation {
	display: none;
}

.instgram li {
    width: 25%;
    float: left;
    margin: 30px 0 0;
}

.rightWrapBox {
	width: 100%;
}

.fLink {
	padding: 20px 0 0;
}

.fLink li {
	display: inline-block;
}

.fLink li:first-child a {
	border-top: none;
}

.fLink li a {
	padding: 10px;
	border-bottom: none;
}

/******************************************
ログイン後のヘッダーのuser情報
******************************************/
.shopping_memberBox {
	display: block;
    position: fixed;
    z-index: 99999;
    top: 124px;
    right: 0;
    width: 220px;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background:url("../sozai/haikei09.jpg") repeat center top;
}

.user_textBox {
    padding: 10px 0 0;
    font-size: 12px;
}

.user_name {
	color: #D0048F;
	font-weight: bold;
}

.user_linkList li {
    width: 90%;
    margin: 10px auto;
}

.user_linkList a {
    display: block;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #2C2C46;
}

.user_linkList .mypage a:hover {
    background: #46402c;
}

.user_linkList .shopping a:hover {
	background: #462c2c;
}

.user_linkList .cart a:hover {
	background: #2c462d;
}

.user_linkList .search a:hover {
	background: #46302c;
}

.user_linkList .logout a:hover {
	background: #2c4046;
}


/******************************************
アイコン
******************************************/

.iconList {
    display: none;
}

.iconList li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0 5px;
    font-size: 40%;
}

.iconList li a i {
    display: block;
    margin-bottom: 5px;
    font-size: 500%;
}


#loading {
    width:120px;
    height: 160px;
    padding: 15px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #333;
    border: 1px dashed #999;
    background-color:#FFF;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}
 
#loading .loadingMsg {
    text-align: center;
    padding-top: 100px;
    background-image:url("./../image/loading.gif");
    background-position: center ;
    background-repeat: no-repeat;
    font-family: "メイリオ"!important;
}


@media screen and (min-width: 1024px){

html {
	overflow: auto;
	font-family:verdana,sans-serif;
	line-height:1.5;
}

body {
	overflow-x: hidden;	
	position: relative;
	color:#ffffff;
}


* html {
/* for IE6 */	
	overflow: hidden;
	overflow-x: auto;
	height: 100%;
}
 	

* html body {
	/* for IE6 */
	overflow-y: auto;
	height: 100%;
 }
 


* html header{
	/* for IE6 */	
	position: relative;
	zoom: 1;
}

*:first-child+html header{
	/* for IE7 */	
	position: relative;
	zoom: 1;
}



#w_wrapper{
	width:100%;
	overflow-x: hidden;
}

#wrapper{
	width:100%;
	margin:0 auto;
}

header {
	width:100%;
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
	position:relative;
}


header h1{
	width:35.8398438%;/* 1024 */
	margin:0 auto;
	padding-top:15px;
	padding-bottom:15px;
}


header .g_nav {
	width:100%;
	overflow-x: hidden;
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

header .g_nav ul {
    width: 52.549%;
    margin-left: auto;
    margin-right: auto;
}

header .g_nav ul li{
	width:16.66666667%;
}

.contents{
	width:93.75%;
	margin-left:auto;
	margin-right:auto;
}

.float{
	width:87.5%;
	margin:0 auto;
}

.rightWrapBox {
	width: 29.7619048%;
    margin-top: 24px;
    float: left;
    padding-bottom: 24px;
    position: relative;
}
.contents .left_box{
	width:63.0952381%;
	margin-top:24px;
	margin-bottom:24px;
	margin-right:7.1428571%;
	float:left;
	position:relative;
}

.instgramBox {
	clear: both;
	width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 7.1428571%;
    position: relative;
}

.instgram li {
    width: 25%;
    float: left;
    margin: 30px 0 0;
}

.instgram li:first-child {
	margin: 30px 0 0;
}


.contents .left_box .topics li{
	width:100%;
	float:left;
	border-bottom:1px solid #6e7070;
}


.contents .right_box{
	padding-bottom:24px;
	position:relative;
}


.contents .right_box .topics li {
	width:100%;
	margin-bottom:15px;
	border-bottom:1px solid #6e7070;
	padding-bottom:15px;
}



.contents .right_bottom_box {
	margin-bottom:24px;
}

.contents .left_box .topics li .date {
	width:90%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}

.contents .right_box .topics li .date {
	width:90%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}



.contents .left_box h2　{
	width:90% !important ;
	text-align:left !important ;
	margin-right:auto;
	margin-left:auto;
}

.contents .right_box h2,
.contents .right_bottom_box h2
{
	width:90% !important ;
	text-align:left !important ;
	margin-right:auto;
	margin-left:auto;
}


.contents .left_box h3　{
	width:90%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}

.contents .right_box h3　{
	width:80%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}


.contents .left_box .topics .honbun1,
.contents .right_box .topics .honbun2
{
	text-align:left;
}

.contents .left_box .topics .honbun1 a {
	color: #fff;
}

.contents .left_box .topics .honbun1 a:hover {
	text-decoration: underline;
}

.contents .right_box .topics .honbun2 {
	width:90%;
}


.more {
	display:inline;
	position:absolute;
	top:22px;
	right:10px;
}


.more a:hover {
	opacity:0.6;
}



.twitter {
	margin-bottom:24px;
}

.twitter #twitter-widget-0 {
	width:100%;
}


.twitter-timeline {
	width:100%;
}



footer {
	clear:both;
	border-top:1px solid #6e7070;
	text-align:center;
	overflow:hidden;
}

footer p {
	margin-top:7px;
}

}
