@charset "utf-8";

.bio_mainvisual {
	width: 90%;
	margin: 0 auto 24px;
}

.bio_mainvisual img{
	max-width:100%;
	height: auto;
}


.bio_honbun{
	width:90%;
	margin: 0 auto 24px;
}



@media screen and (min-width: 1024px){

/* ここに1024px～のCSSを記述 */

.bio_honbun{
	text-align:left;
	line-height:1.65;
}


}