@charset "utf-8";

.cartList:after {
	display: block;
	content: "";
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.btnWrapBox:after,
.btnWrapBox ul:after
 {
    display: block;
    content: "";
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.cartList {
	width: 96%;
	margin: 0 auto;
}

.cartList li {
	margin: 0 auto 60px;
}

.cartList li .cartImgBox {
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
    height: 154px;
    max-height: 154px;
    text-align: center;
    background: #292929;
}

.cartList li .cartImgBox img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 134px;
    max-height: 134px;
}

.cartList li h3 {
	width: 100%;
    margin: 0 auto 24px;
    font-size: 16px;
    text-align: left;
}


.btnWrapBox ul {
    text-align: center;
}

.cartBtn {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 0;
    text-align: center;
}

p.cartBtn {
    display: block;
    width: 135px;
    margin: 30px auto;
    text-align: center;
}

.cartBtn a {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 13px 10px 12px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    background: #bf0000;
}

.cartBtn a:hover {
    background: #2fbf00;
}

.submitBtn {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 0;
    text-align: center;
}

.submitBtn input[type="submit"] {
    display: block;
    width: 135px;
    margin: 0 auto;
    padding: 12px 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border: 0;
    font-size: 13px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.submitBtn input[type="submit"]:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

input.item_number {
    width: 100px;
    text-align: right;
}

@media screen and (min-width: 591px){

.cartList li {
	width: 46%;
	float: left;
	margin: 0 2% 60px;
}

}

@media screen and (min-width: 1024px){

}