@charset "utf-8";


body{
    color: #fff;
	background:url("../sozai/haikei15.jpg");
}

header{
	position: relative;
	padding-top: 4px;
	text-align: center;
	background: url("../sozai/haikei26.jpg");
}

header .g_nav{
	border-bottom:1px solid #6e7070;
}

header .g_nav ul{
	overflow:hidden;
}

header .g_nav ul li{
	width:50%;
	float:left;
}

header .g_nav ul li a{
	font-size:13px;
	display:block;
	padding:12px 0;
	color:#ffffff;
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

header .g_nav ul li a:hover{
	color:#ffffff;
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

#slideBtn {
	width: 50px;
	margin: 0 20px 0 auto;
	padding: 0 0 10px;
}

#slideBtn a {
    margin: 0;
    font-size: 300%;
    color: #555;
    text-align: center;
    display: block;
    line-height: 0;
}

.slideNavi {
	position: absolute;
	top: 150px;
	right: 0;
	z-index: 99999;
    display: none;
    width: 80%;
    margin: 0 auto;
    background: #000;
}

.slideNavi li a {
	display: block;
	padding: 10px 0;
	color: #fff;
	font-size: 13px;
	border-bottom: 1px solid #fff;
}

.slideNavi li a:hover {
	background: #007AFF;
}

.slideNavi li:first-child a {
	border-top: 1px solid #fff;
}

.closeBtn a {
    display: block;
    padding: 15px 0;
    color: #fff;
    background: #555;
}

/*----------ハンバーガーアイコン----------*/
.hamburger {
    position: absolute;
    bottom: -20%;
    right: 20px;
    display: block;
    width: 32px;
    height: 20px;
    margin: 3% 0 0;
    z-index: 100000;
    box-sizing: border-box;
}
.hamburger:hover {
    cursor: pointer;
}
.hamburger  span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
}
.hamburger  span:nth-of-type(1) {
  top: 0;
}
.hamburger  span:nth-of-type(2) {
  top: 9px;
}
.hamburger.active  span:nth-of-type(2) {
  top: 20px;
}
.hamburger  span:nth-of-type(3) {
  bottom: 0;
}

.hamburger span:nth-of-type(3),
.hamburger.active span:nth-of-type(3) {
  transition: none;
}
.hamburger.active {
  -webkit-transform: rotateX(720deg);
  transform: rotateX(720deg);
}
.hamburger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.hamburger.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.hamburger.active span:nth-of-type(3) {
  opacity: 0;
}

/*----------ナビゲーション----------*/
#navigation {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  z-index: 99999;
}
#navigation .navigation_inner {
  display: table;
  width: 100%;
  height: 100%;
}
#navigation .navigation_inner .navigation_menu {
  display: table-cell;
  vertical-align: middle;
}
#navigation .navigation_inner .navigation_menu a {
	display: block;
	padding: 10px 0;
	color: #fff;
}
#navigation .navigation_inner .navigation_menu a:hover {
	text-decoration: underline;
}
#navigation .navigation_inner .navigation_menu .navigation_item {
  width: auto;
  height: auto;
  margin: 16px auto 0 auto;
}
#navigation .navigation_inner .navigation_menu .navigation_item:first-child {
  margin-top: 0;
}
#navigation .navigation_inner .navigation_menu .navigation_item a {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  line-height: 40px;
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.g_nav {
	display: none;
}

.contents{
	width:90%;
	margin:0 auto;
	color:#ffffff;
}

.contents:after,
.float:after,
.rightWrapBox:after
{
	display: block;
	content: "";
	visibility: hidden;
	clear: both;
	font-size: 0;
	height: 0;
}

.rightWrapBox {
	width: 100%;
}

.contents .left_box,
.contents .right_bottom_box,
.instgramBox
{
	width:100%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:24px;
	margin-top:24px;
	padding-top:24px;
	padding-bottom:12px;
	background:url("../sozai/haikei14.jpg");
}

.right_box {
	width:100%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:24px;
	padding-top:24px;
	padding-bottom:12px;
	background:url("../sozai/haikei14.jpg");
}

.contents .left_box {
	margin-top:24px;
}

.instgram {
    width: 90%;
    margin: 0 auto;
}


.instgram li {
	width: 100%;
	margin: 30px auto 0;
}

.instgram .title {
	display: block;
	text-align: center;
}

.instgram img {
    width: 100%;
}

.bio_mainvisual{
	width:70%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:24px;
}

.bio_honbun{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	font-size:13px;
	margin-bottom:24px;
}

.contents .left_box .topics li,
.contents .right_box .topics li
{
	border-bottom:1px solid #6e7070;
}

.left_box .topics li:first-child,
.right_box .topics li:first-child
{
	border-top:1px solid #6e7070;
}

.instgramBox:after,
.instgramBox ul:after
{
	content: "";
	display: block;
	font-size: 0;
	visibility: hidden;
	height: 0;
	clear: both;
}

.contents .right_box{
	background:url("../sozai/haikei21.jpg");
}

.contents .right_bottom_box{
	background:url("../sozai/haikei09.jpg");
}

.contents .right_box h2,
.contents .right_bottom_box h2
{
	width:90%;
	margin-right:auto;
	margin-left:auto;
}

.contents .left_box h2 {
	width:90%;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}

.more{
	display:none;
}

.date, h3 {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
    text-align: left;
    margin-bottom: 24px;
}

.date{
	padding-top:1em;

}

h3{
	color:#dcdcdc;
}

.link{
	color:#ff0089;
}

.link:hover{
    text-decoration:underline;
}

.honbun1,
.honbun2
{
	width:90%;
	margin: 0 auto 24px;
	font-size:13px;
}

.contents .left_box .topics .honbun1 a {
	color: #fff;
}

.contents .left_box .topics .honbun1 a:hover {
	text-decoration: underline;
}

.contents .right_bottom_box .banar_list li{
	width:100%;
	margin: 0 auto 12px;
}

.contents .right_bottom_box .banar_list .larc a{
	display:block;
	width:190px;
	height:40px;
	background-image: url("../image/bh_larc.jpg");
	text-indent:-9999px;
	margin-right:auto;
	margin-left:auto;
}


.contents .right_bottom_box .banar_list .larc a:hover{
	background-position:left bottom;
}


.contents .right_bottom_box .banar_list .gazetto a{
	display:block;
	width:190px;
	height:40px;
	background-image: url("../image/bh_gazetto.jpg");
	text-indent:-9999px;
	margin-right:auto;
	margin-left:auto;
}


.contents .right_bottom_box .banar_list .gazetto a:hover{
	background-position:left bottom;
}


.contents .right_bottom_box .banar_list .alice a{
	display:block;
	width:190px;
	height:40px;
	background-image: url("../image/bh_alice.jpg");
	text-indent:-9999px;
	margin-right:auto;
	margin-left:auto;
}


.contents .right_bottom_box .banar_list .alice a:hover{
	background-position:left bottom;
}


.twitter{
	margin-bottom:24px;
}

.twitter #twitter-widget-0{
	width:100% !important;
}


.twitter-timeline{
	width:100%;
	margin-right:auto;
	margin-left:auto;
}

footer{
	color:#ffffff;
	text-align:center;
	background:url("../sozai/haikei26.jpg");
}

footer p{
	clear: both;
	width:90%;
	font-size:0.8em;
	margin-right:auto;
	margin-left:auto;
	padding-top:12px;
}

.fLink li a {
	display: block;
	padding: 10px 0;
	color: #fff;
	font-size: 13px;
	border-bottom: 1px solid #fff;
	background: #000;
	transition: 0.5s;
}

.fLink li a:hover {
	background: #007AFF;
}

.fLink li:first-child a {
	border-top: 1px solid #fff;
}

#pagetop{
	background:#262626;
	border-radius:5px;
	color:#FFF;
	padding:20px;
	position:fixed;
	bottom:100px;
	right:20px;
}

#pagetop:hover{
	background:#EEE;
}

/******************************************
pager
******************************************/

.pager {
    width: 260px;
    margin: 30px auto 0;
    text-align: center;
}

.pager:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.pager li {
    display: inline-block;
    text-align: center;
}

.pager li a,
.pager li em
{
    display: block;
    width: 40px;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #0000ff;
}

.pager li a:hover {
    display: block;
    color: #fff;
    background: #0000ff;
}

.shopping_memberBox {
	display: none;
}

/*ボタンここから*/
input[type="button"],
input[type="submit"]
 {
	transition: 0.5s;
}

a {
	transition: 0.5s;
}

.linkBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.linkBtn a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
    border-color: #d43f3a;
    transition: 0.5s;
}

.linkBtn a:hover {
    background-color: #00CE6F;
}

.btnList {
    margin: 30px 0;
    text-align: center;
}

.btnList li {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 0;
    text-align: center;
}

.btnList li input {
    display: block;
    width: 135px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    background-color: #f0ad4e;
    border-color: #eea236;
    transition: 0.5s;
}

.btnList li input:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.backBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.backBtn a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
    border-color: #d43f3a;
    transition: 0.5s;
}

.backBtn a:hover {
    background-color: #00CE6F;
}
/*ボタンここまで*/


/* 商品購入
----------------------------------------------------------- */

.list-shopping-flow {
    display: table;
    width: 100%;
    list-style: none;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.list-shopping-flow li.active {
    background-color: #C94047;
}

.list-shopping-flow li {
    text-align: center;
    background-color: #E09196;
    color: #fff;
    font-size: 80%;
    font-weight: bold;
    width: 12%;
    height: 44px;
    line-height: 17px;
    display: table-cell;
    padding-left: 5px;
}

.list-shopping-flow li:before {
    display: block;
    background: #E09196;
    width: 15px;
    height: 22px;
    border-right: 2px solid #F6F0E3;
    margin: 0 -11px -17px auto;
    content: " ";
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    transform: skew(20deg);
}

.list-shopping-flow li:after {
    display: block;
    background: #E09196;
    width: 15px;
    height: 22px;
    border-right: 2px solid #F7F1E4;
    margin: -17px -11px 0 auto;
    content: " ";
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
}

.list-shopping-flow li.active:before, .list-shopping-flow li.active:after {
    background: #C94047;
}

p.addbtn {
    clear: both;
    text-align: right;
}


@media screen and (min-width: 768px){

header .g_nav ul li{
	width:16.66%;
}

.g_nav {
	display: block;
}

.hamburger {
	display: none;
}

#navigation {
	display: none;
}

.instgram li {
    width: 25%;
    float: left;
    margin: 30px 0 0;
}

.rightWrapBox {
	width: 100%;
}

.fLink {
	padding: 20px 0 0;
}

.fLink li {
	display: inline-block;
}

.fLink li:first-child a {
	border-top: none;
}

.fLink li a {
	padding: 10px;
	border-bottom: none;
}

/******************************************
ログイン後のヘッダーのuser情報
******************************************/
.shopping_memberBox {
	display: block;
    position: fixed;
    z-index: 99999;
    top: 124px;
    right: 0;
    width: 220px;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background:url("../sozai/haikei09.jpg") repeat center top;
}

.user_textBox {
    padding: 10px 0 0;
    font-size: 12px;
}

.user_name {
	color: #D0048F;
	font-weight: bold;
}

.user_linkList li {
    width: 90%;
    margin: 10px auto;
}

.user_linkList a {
    display: block;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #2C2C46;
}

.user_linkList .mypage a:hover {
    background: #46402c;
}

.user_linkList .shopping a:hover {
	background: #462c2c;
}

.user_linkList .cart a:hover {
	background: #2c462d;
}

.user_linkList .search a:hover {
	background: #46302c;
}

.user_linkList .logout a:hover {
	background: #2c4046;
}


/******************************************
アイコン
******************************************/

.iconList {
    display: none;
}

.iconList li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0 5px;
    font-size: 40%;
}

.iconList li a i {
    display: block;
    margin-bottom: 5px;
    font-size: 500%;
}


#loading {
    width:120px;
    height: 160px;
    padding: 15px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #333;
    border: 1px dashed #999;
    background-color:#FFF;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}
 
#loading .loadingMsg {
    text-align: center;
    padding-top: 100px;
    background-image:url("./../image/loading.gif");
    background-position: center ;
    background-repeat: no-repeat;
    font-family: "メイリオ"!important;
}


@media screen and (min-width: 1024px){

html {
	overflow: auto;
	font-family:verdana,sans-serif;
	line-height:1.5;
}

body {
	overflow-x: hidden;	
	position: relative;
	color:#ffffff;
}

#w_wrapper{
	width:100%;
	overflow-x: hidden;
}

#wrapper{
	width:100%;
	margin:0 auto;
}

header {
	width:100%;
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
	position:relative;
}


header h1{
	width:35.8398438%;
	margin:0 auto;
	padding-top:15px;
	padding-bottom:15px;
}


header .g_nav {
	width:100%;
	overflow-x: hidden;
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

header .g_nav ul {
    width: 52.549%;
    margin-left: auto;
    margin-right: auto;
}

header .g_nav ul li{
	width:16.66666667%;
}

.contents{
	width:93.75%;
	margin-left:auto;
	margin-right:auto;
}

.float{
	width:87.5%;
	margin:0 auto;
}

.rightWrapBox {
	width: 29.7619048%;
    margin-top: 24px;
    float: left;
    padding-bottom: 24px;
    position: relative;
}
.contents .left_box{
	width:63.0952381%;
	margin-top:24px;
	margin-bottom:24px;
	margin-right:7.1428571%;
	float:left;
	position:relative;
}

.instgramBox {
	clear: both;
	width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 7.1428571%;
    position: relative;
}

.instgram li {
    width: 25%;
    float: left;
    margin: 30px 0 0;
}

.instgram li:first-child {
	margin: 30px 0 0;
}


.contents .left_box .topics li{
	width:100%;
	float:left;
	border-bottom:1px solid #6e7070;
}


.contents .right_box{
	padding-bottom:24px;
	position:relative;
}


.contents .right_box .topics li {
	width:100%;
	margin-bottom:15px;
	border-bottom:1px solid #6e7070;
	padding-bottom:15px;
}



.contents .right_bottom_box {
	margin-bottom:24px;
}

.contents .left_box .topics li .date {
	width:90%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}

.contents .right_box .topics li .date {
	width:90%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}

.contents .left_box h2 {
	width:90% !important ;
	text-align:left !important ;
	margin-right:auto;
	margin-left:auto;
}

.contents .right_box h2,
.contents .right_bottom_box h2
{
	width:90% !important ;
	text-align:left !important ;
	margin-right:auto;
	margin-left:auto;
}


.contents .left_box h3 {
	width:90%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}

.contents .right_box h3 {
	width:80%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}


.contents .left_box .topics .honbun1,
.contents .right_box .topics .honbun2
{
	text-align:left;
}

.contents .left_box .topics .honbun1 a {
	color: #fff;
}

.contents .left_box .topics .honbun1 a:hover {
	text-decoration: underline;
}

.contents .right_box .topics .honbun2 {
	width:90%;
}


.more {
	display:inline;
	position:absolute;
	top:22px;
	right:10px;
}


.more a:hover {
	opacity:0.6;
}



.twitter {
	margin-bottom:24px;
}

.twitter #twitter-widget-0 {
	width:100%;
}


.twitter-timeline {
	width:100%;
}



footer {
	clear:both;
	border-top:1px solid #6e7070;
	text-align:center;
	overflow:hidden;
}

footer p {
	margin-top:7px;
}

}


/*********************************************************************
index
*********************************************************************/

header nav{
    margin-bottom:0px;
}

.main_visualWrap {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #6e7070;
}

.main_visual {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    
}

.main_visualWrap .slick-initialized .slick-slide {
    outline: none;
}

.main_visualWrap .slick-slide img {
    display: inline-block; 
}

.main_visualWrap .slick-prev {
    left: 10px;
}

.main_visualWrap .slick-next {
    right: 10px;
}

.main_visualWrap .slick-prev, .slick-next {
    z-index: 9999;
}

.main_visualWrap .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #94BDFB;
}

.main_visualWrap .slick-dots li button:before {
    color: #94BDFB;
}

.main_visualWrap .slick-dots {
    bottom: 15px;
}

.main_visualWrap .slick-dotted.slick-slider {
    margin-bottom: 0;
}

/* =======================================
    ClearFixElements
======================================= */


.contents .left_box .imgList:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.contents .left_box .imgList {
    width: 96%;
    margin: 0 auto 20px;
}

.contents .left_box .imgList li {
    width: 48%;
    float: left;
    margin: 0 1%;
    text-align: center;
    border: none;
}

.contents .left_box .imgList li img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1024px){
}

/*********************************************************************
biography
*********************************************************************/
.bio_mainvisual {
    width: 90%;
    margin: 0 auto 24px;
}

.bio_mainvisual img{
    max-width:100%;
    height: auto;
}


.bio_honbun{
    width:90%;
    margin: 0 auto 24px;
}



@media screen and (min-width: 1024px){

/* ここに1024px～のCSSを記述 */

.bio_honbun{
    text-align:left;
    line-height:1.65;
}


}


/*********************************************************************
discography
*********************************************************************/
.d_list{

width:100%;
margin:0 auto;
}

.d_list li{
width:100%;
margin-bottom:24px;
border-bottom:1px solid #6e7070;
padding-bottom:24px;

}

.fd_list{
border-top:1px solid #6e7070;
padding-top:24px;
}


.d_list li img{
max-width: 100%;
height: auto;

margin-left:auto;
margin-right:auto;
margin-bottom:24px;
display:block;
}

.number{
width:100%;
font-size:85%;
color:#acacac;
margin-left:auto;
margin-right:auto;
margin-bottom:24px;

text-align:center;

}

.title{

font-size:100%;
color:#dcdcdc;
}

.setsumei{
width:90%;
font-size:85%;
color:#acacac;
margin-left:auto;
margin-right:auto;
}



@media screen and (min-width: 1024px){

.d_list{

width:100%; /* 530 530 */
}

.d_list li{
width:100%; /* 530 530 */

}


.d_list li img{
width:150px; @
height:150px;

margin-left:5%;
background-color:#dcdcdc;
}



.number{
width:90%;
font-size:85%;
text-align:left;

}


.title{
width:90%;
font-size:100%;
text-align:left;

}


.date{
width:90%;

text-align:left;
margin-right:auto;
margin-left:auto;

}


}


/*********************************************************************
contact
*********************************************************************/

.form_1 {
    width: 100%;
}

.form_1 th {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: #1B1B1B;
}

.form_1 td {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.form_1 input {
    width: 100%;
}

.form_1 textarea {
    width: 100%;
}

input[type="button"] {
    display: block;
    width: 95px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

input[type="button"]:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.btnList {
    margin: 30px 0;
}

.backBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

.backBtn:hover {
    background-color: #00CE6F;
}

.completeMessage {
    text-align: center;
}

#loading{
    width:100px;
    height: 160px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px dashed #999;
    background-color:#FFF;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}
 
#loading .loadingMsg{
    text-align: center;
    padding-top: 100px;
    background-image:url("./../image/loading.gif");
    background-position: center ;
    background-repeat: no-repeat;
    font-family: "メイリオ"!important;
}

.errorMessage {
    text-align: left;
    color: #D0048F;
}

#form1 th em {
    background: #f96c06;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 5px;
    right: 10px;
    font-size: 85.714%;
}

@media screen and (min-width: 768px){

    .form_1 th {
        display: table-cell;
        text-align: center;
        width: 30%;
    }

    .form_1 td {
        display: table-cell;
        text-align: center;
        width: 40%;
        font-size: 13px;
    }

}

@media screen and (min-width: 1024px){


}

/*********************************************************************
live
*********************************************************************/

.topics li{
    width:100%;
    margin:0 auto;
    padding-bottom:24px;
}

.liveList h3 {
    width: 90%;
    margin: 0 auto 24px;
}

.honbun1{
    width:90%;
    font-size:13px;
    margin: 0 auto;
}


.toiawase{
    width:90%;
    margin:0 auto;
    text-align:center;
    font-size:13px;
}


.link a{
    margin: 0 auto;
    text-decoration:none;
    color:#ffffff;
}


@media screen and (min-width: 768px) {
    


}

@media screen and (min-width: 1024px){


.toiawase{
    text-align:left;
}

.liveList h3 {
    text-align: left;
}

}

/*********************************************************************
member
*********************************************************************/

.member {
    width:100%;
    overflow:hidden;
}

.member a:hover{
    opacity:0.6;
}


.member li {
    width: 50%;
    float: left;
    background: #fff;
}

.member li img {
    width: 100%;
}

@media screen and (min-width: 768px){

/* ここに768px～1023pxのCSSを記述 */

.member {
    width: 96%;
    margin: 0 auto;
}




.member li {
    width:25%;
}



}



@media screen and (min-width: 1024px){

/* ここに1024px～のCSSを記述 */


}

/*********************************************************************
member_kojin
*********************************************************************/

.member img{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}


.bio_honbun{
font-size:13px;
margin-left:auto;
margin-right:auto;
padding-bottom:30px;
width:90%;
line-height:2.65;
}

section{
font-size:13px;
margin-left:auto;
margin-right:auto;
padding-bottom:30px;
width:90%;

}

section h3{
color:#dcdcdc;
font-size:13px;

}



@media screen and (min-width: 768px){

.member{
position:relative;
}



.member img{

width:44.3396226%; 
float:left;
}

.bio_honbun{
text-align:left;
line-height:1.65;
clear:both;
}


}



@media screen and (min-width: 1024px){

.bio_honbun{
text-align:left;
line-height:1.65;
}


.member img{
width:44.3396226%;
float:left;
display:block;
}


.contents .left_box h3{
width:100%;
text-align:left;
}

}


/*********************************************************************
item
*********************************************************************/

.itemList:after,
.itemDetailBox:after,
.cartInputList:after,
.imgDetailList:after
{
    display: block;
    content: "";
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.cartInputList {
    padding: 20px;
    border: 1px solid #cef0f4;
}

.cartBtn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.cartBtn:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.linkBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

.linkBtn a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
}

.linkBtn:hover {
    background-color: #00CE6F;
}

.cartInputList li:first-child {
    margin: 11px 0 0;
}

.cartInputList li:first-child + li {
    margin: 20px 0 0;
}

.detailCartBox {
    margin: 30px 0 0
}

.itemNumberText {
    display: block;
    color: #fff;
}

.itemList {
    width: 96%;
    margin: 0 auto;
}

.itemList li {
    margin: 0 auto 60px;
}

.itemList li dt {
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
    height: 154px;
    max-height: 154px;
    text-align: center;
    background: #292929;
}

.itemList li dt img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 134px;
    max-height: 134px;
    border: 1px solid #fff;
}

.itemList li h3 {
    width: 100%;
    margin: 0 auto 24px;
    font-size: 16px;
    text-align: left;
}

.imgDetailList {
    width: 60%;
    float: none;
    margin: 0 auto;
}

.imgDetailList li {
    width: 50%;
    float: left;
    text-align: center;
}

.imgDetailList li img {
    border: 1px solid #fff;
}

.itemRightBox {
    width: 60%;
    float: none;
    margin: 30px auto 0;
}

input.item_number {
    width: 100px;
    text-align: right;
}


.itemList li dt {
    overflow: hidden;
}
.itemList li img {
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}
.itemList li img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media screen and (min-width: 591px){

.itemList li {
    width: 46%;
    float: left;
    margin: 0 2% 60px;
}

}

@media screen and (min-width: 1024px){

.imgDetailList {
    width: 50%;
    float: left;
}

.itemRightBox {
    width: 42%;
    float: left;
    margin: 0 0 0 4%;
}

.detailComment {
    margin: 20px 0 0;
}


}

/*********************************************************************
property
*********************************************************************/

.itemList:after,
.itemDetailBox:after,
.cartInputList:after,
.imgDetailList:after
{
    display: block;
    content: "";
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.cartInputList {
    padding: 20px;
    border: 1px solid #cef0f4;
}

.cartBtn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.cartBtn:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.cartInputList li:first-child {
    margin: 11px 0 0;
}

.cartInputList li:first-child + li {
    margin: 20px 0 0;
}

.detailCartBox {
    margin: 30px 0 0
}

.itemNumberText {
    display: block;
    color: #fff;
}

.itemList {
    width: 96%;
    margin: 0 auto;
}

.itemList li {
    margin: 0 auto 60px;
}

.itemList li dt {
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
    height: 154px;
    max-height: 154px;
    text-align: center;
    background: #292929;
}

.itemList li dt img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 134px;
    max-height: 134px;
    border: 1px solid #fff;
}

.itemList li h3 {
    width: 100%;
    margin: 0 auto 24px;
    font-size: 16px;
    text-align: left;
}

.imgDetailList {
    width: 60%;
    float: none;
    margin: 0 auto;
}

.imgDetailList li {
    width: 50%;
    float: left;
    text-align: center;
}

.imgDetailList li img {
    border: 1px solid #fff;
}

.itemRightBox {
    width: 60%;
    float: none;
    margin: 30px auto 0;
}

input.item_number {
    width: 100px;
    text-align: right;
}


.itemList li dt {
    overflow: hidden;
}
.itemList li img {
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}
.itemList li img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.searchBox {
    margin: 0 0 60px;
    padding: 0 0 30px;
    border: 1px solid #fff;
}

.searchBox h3 {
    margin: 20px;
    font-size: 120%;
}

.form_1 {
    width: 100%;
}

.form_1 th {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: #1B1B1B;
}

.form_1 td {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.form_1 select {
    width: 100%;
}

.form_1 .checkboxCell ul:after
{
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.form_1 .checkboxCell {
    text-align: left;
}

.form_1 .checkboxCell ul li {
    width: 50%;
    float: left;
}

input[name="name"] {
    width: 100%;
}

input[type="submit"] {
    display: block;
    width: 115px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

input[type="submit"]:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.resultBox {
    margin: 20px 0 0;
    padding: 30px;
    background: #292929;
}

.cateTitle1 {
    margin: 0 0 10px;
}

.cateTitle1 span {
    display: inline-block;
    padding: 5px;
    background: #D9534F;
}

.cateTitle2 {
    margin: 0 0 10px;
}

.cateTitle2 span {
    display: inline-block;
    padding: 5px;
    background: #4fd96d;
}

.cateTitle3 {
    margin: 0 0 10px;
}

.cateTitle3 span {
    display: inline-block;
    padding: 5px;
    background: #4f66d9;
}

@media screen and (min-width: 591px){

.itemList li {
    width: 46%;
    float: left;
    margin: 0 2% 60px;
}

}

@media screen and (min-width: 1024px){

.imgDetailList {
    width: 50%;
    float: left;
}

.itemRightBox {
    width: 42%;
    float: left;
    margin: 0 0 0 4%;
}

.detailComment {
    margin: 20px 0 0;
}

.form_1 th {
    display: table-cell;
    width: 20%;
    padding: 10px;
    text-align: left;
    background: #1B1B1B;
}

.form_1 td {
    display: table-cell;
    width: auto;
    padding: 10px;
    text-align: left;
}

.form_1 select {
    width: 70%;
}

}

/*********************************************************************
entry
*********************************************************************/

.form_1 {
    width: 100%;
}

.form_1 th {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 13px;
    background: #1B1B1B;
}

.form_1 td {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.form_1 input {
    width: 100%;
}

.form_1 input[type="radio"] {
    width: auto;
}

.form_1 textarea {
    width: 100%;
}

input[type="button"],
input[type="submit"]
{
    display: block;
    width: 95px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#refusal {
    width: auto;
}

input[type="button"]:hover,
input[type="submit"]:hover
{
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.form_1 .column2_cell {
    text-align: center;
}

.form_1 .column2_input {
    width: 49%;
}

#form1 .addressCell {
    text-align: left;
}

#post_code1 {
    width: 30px;
}

#post_code2 {
    width: 35px;
}

.column1_select select {
    width: 100%;
}

.column3_select {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.column3_select select {
    width: 83%;
}


.btnList {
    margin: 30px 0;
    text-align: center;
}

.btnList li {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0;
}

.btnList a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    background: #f0ad4e;
}

.btnList a:hover {
    background: #00CE6F;
}

.backBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

.backBtn:hover {
    background-color: #00CE6F;
}

.completeMessage {
    text-align: center;
}

.errorMessage {
    text-align: left;
    color: #D0048F;
}

#form1 th em {
    background: #f96c06;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 5px;
    right: 10px;
    font-size: 85.714%;
}

.btnList .nonBtn a {
    background: #2c2c2c;
}

.btnList .nonBtn a:hover {
    color: #333;
    background: #e1e8ed;
}

.kiyaku_text {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.kiyaku_list > li {
    margin: 30px 0 0;
    font-size: 13px;
}

.kiyaku_list > li:firstchild {
    margin: 0;
}

/*mypage*/

div#mynavi_area {
    width: 100%;
}

div#mynavi_area .mynavi_list {
    margin-bottom: 20px;
    width: 100%;
}

div#mynavi_area .mynavi_list li {
    margin: 0 15px 5px 0;
    padding-left: 15px;
    float: left;
    font-size: 120%;
}

div#mynavi_area .mynavi_list li a {
    color: #fff;
}

div#mynavi_area .mynavi_list li a:hover {
    text-decoration: underline;
}

.mynavi_list:after {
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
    content: ".";
}

div#mynavi_area div.point_announce {
    margin-bottom: 30px;
    padding: 10px;
    border: solid 1px #ffcc62;
    background-color: #fffaf0;
}

div#mynavi_area div.point_announce p {
    padding-left: 20px;
    color: #333;
}

.user_name {
    font-weight: bold;
}

.st {
    font-weight: bold;
}

.point {
    color: #f00;
    font-weight: bold;
}

.mycondition_area {
    margin: 0 auto 20px 0;
    padding: 10px;
    border: solid 1px #ccc;
    width: 97%;
    background: #f9f9f9;
}

.mycondition_area:after {
    content: "";
    display: block;
    clear: both;
}

.mycondition_area p {
    float: left;
    color: #666;
}

.mycondition_area .btn {
    width: 160px;
    margin-top: 15px;
    float: right;
}

.message_area {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.message_area p {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px){

    .form_1 th {
        display: table-cell;
        text-align: center;
        width: 30%;
    }

    .form_1 td {
        display: table-cell;
        text-align: center;
        width: 40%;
        font-size: 13px;
    }

    .btnList li {
        margin: 0 20px;
    }

}

@media screen and (min-width: 1024px){


}

/*********************************************************************
shopping
*********************************************************************/

.form_1 {
    width: 100%;
}

.form_1 th {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: #1B1B1B;
}

.form_1 td {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.form_1 input {
    width: 100%;
}

.form_1 textarea {
    width: 100%;
}

.confirm .form_1 td {
    text-align: left;
}

#form1 .addressCell {
    text-align: left;
}

#zip1 {
    width: 30px;
}

#zip2 {
    width: 35px;
}

.completeMessage {
    text-align: center;
}

#loading{
    width:100px;
    height: 160px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px dashed #999;
    background-color:#FFF;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}
 
#loading .loadingMsg{
    text-align: center;
    padding-top: 100px;
    background-image:url("./../image/loading.gif");
    background-position: center ;
    background-repeat: no-repeat;
    font-family: "メイリオ"!important;
}

.errorMessage {
    text-align: left;
    color: #D0048F;
}

#form1 th em {
    background: #f96c06;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 5px;
    right: 10px;
    font-size: 85.714%;
}

.shop_information {
    border-top: 1px solid #fff;
    margin: 30px 0 0;
    padding: 30px 0 0;
}

.information {
    margin-bottom: 15px;
}

#address_area:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

#address_area .information {
    width: 96%;
    float: none;
    margin: 0 auto 10%;
}

#address_area .add_multiple {
    float: none;
    width: 96%;
    margin: 0 auto 6%;
    border: 1px solid #ffcc62;
}

#address_area .add_multiple p {
    padding: 15px 15px 15px;
}

.shoppingTbl {
    width: 96%;
    margin: 0 auto 30px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.shoppingTbl th {
    padding: 8px;
    color: #333;
    font-weight: normal;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.shoppingTbl td {
    padding: 8px;
    color: #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.addbtn {
    clear: both;
    width: 96%;
    margin: 0 auto;
}

.addbtn a {
    display: block;
    width: 100%;
    margin: 0 0 2%;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    background-color: #f0ad4e;
    border-color: #eea236;
    transition: 0.5s;
    box-sizing: border-box;
}

.addbtn a:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.attention {
    color: #f00;
}

.mini {
    font-size: 90%;
}

.btnList li a {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    background-color: #f0ad4e;
    border-color: #eea236;
    transition: 0.5s;
}

.btnList li a:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.btnList li {
    width: 48%;
    margin: 10px 0;
}

.btnList .backBtn {
    background: #999;
}

.btnList .nextBtn {
    background: #AFC50B;
    width: 100%;
    padding: 10px 0;
    border: 0;
}

#paymentTbl {
    margin: 15px auto 20px auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#paymentTbl th {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #f0f0f0;
    font-weight: normal;
}

#paymentTbl td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.pay_area02 {
    margin: 40px auto 30px auto;
}

.top {
    margin-bottom: 5px;
}

.pay_area02 h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    background: url(../img/background/line_01.gif) repeat-x left bottom;
    font-size: 120%;
}

.point_area h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    font-size: 120%;
}

.point_area .point_announce {
    padding: 20px;
    border: 1px solid #ccc;
}

.left_box h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    font-size: 120%;
}

table .alignC {
    text-align: center;
}

table .alignR {
    text-align: right;
}
@media screen and (min-width: 591px){

    #address_area .information {
        width: 60%;
        float: left;
    }

    #address_area .add_multiple {
        float: right;
        width: 35%;
        margin: 0 0 0 2%;
    }

    .addbtn a {
        max-width: 200px;
    }

    .btnList li {
        width: 135px;
        margin: 0 10px;
    }

}

@media screen and (min-width: 768px){

    .form_1 th {
        display: table-cell;
        text-align: center;
        width: 30%;
    }

    .form_1 td {
        display: table-cell;
        text-align: center;
        width: 40%;
        font-size: 13px;
    }

}

@media screen and (min-width: 1024px){


}

/*********************************************************************
cart
*********************************************************************/

.cartList:after {
    display: block;
    content: "";
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.btnWrapBox:after,
.btnWrapBox ul:after
 {
    display: block;
    content: "";
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.cartList {
    width: 96%;
    margin: 0 auto;
}

.cartList li {
    margin: 0 auto 60px;
}

.cartList li .cartImgBox {
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
    height: 154px;
    max-height: 154px;
    text-align: center;
    background: #292929;
}

.cartList li .cartImgBox img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 134px;
    max-height: 134px;
}

.cartList li h3 {
    width: 100%;
    margin: 0 auto 24px;
    font-size: 16px;
    text-align: left;
}


.btnWrapBox ul {
    text-align: center;
}

.cartBtn {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 0;
    text-align: center;
}

p.cartBtn {
    display: block;
    width: 135px;
    margin: 30px auto;
    text-align: center;
}

.cartBtn a {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 13px 10px 12px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    background: #bf0000;
}

.cartBtn a:hover {
    background: #2fbf00;
}

.submitBtn {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 0;
    text-align: center;
}

.submitBtn input[type="submit"] {
    display: block;
    width: 135px;
    margin: 0 auto;
    padding: 12px 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border: 0;
    font-size: 13px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.submitBtn input[type="submit"]:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

input.item_number {
    width: 100px;
    text-align: right;
}

@media screen and (min-width: 591px){

.cartList li {
    width: 46%;
    float: left;
    margin: 0 2% 60px;
}

}

@media screen and (min-width: 1024px){

}