.form_1 {
    width: 100%;
}

.form_1 th {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: #1B1B1B;
}

.form_1 td {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.form_1 input {
    width: 100%;
}

.form_1 textarea {
    width: 100%;
}

input[type="button"] {
    display: block;
    width: 95px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

input[type="button"]:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.btnList {
    margin: 30px 0;
}

.backBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

.backBtn:hover {
    background-color: #00CE6F;
}

.completeMessage {
    text-align: center;
}

#loading{
    width:100px;
    height: 160px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px dashed #999;
    background-color:#FFF;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}
 
#loading .loadingMsg{
    text-align: center;
    padding-top: 100px;
    background-image:url("./../image/loading.gif");
    background-position: center ;
    background-repeat: no-repeat;
    font-family: "メイリオ"!important;
}

.errorMessage {
    text-align: left;
    color: #D0048F;
}

#form1 th em {
    background: #f96c06;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 5px;
    right: 10px;
    font-size: 85.714%;
}

@media screen and (min-width: 768px){

    .form_1 th {
        display: table-cell;
        text-align: center;
        width: 30%;
    }

    .form_1 td {
        display: table-cell;
        text-align: center;
        width: 40%;
        font-size: 13px;
    }

}

@media screen and (min-width: 1024px){


}