@charset "utf-8";


.d_list{

width:100%;
margin:0 auto;
}

.d_list li{
width:100%;
margin-bottom:24px;
border-bottom:1px solid #6e7070;
padding-bottom:24px;

}

.fd_list{
border-top:1px solid #6e7070;
padding-top:24px;
}


.d_list li img{
max-width: 100%;
height: auto;

margin-left:auto;
margin-right:auto;
margin-bottom:24px;
display:block;
}

.number{
width:100%;
font-size:85%;
color:#acacac;
margin-left:auto;
margin-right:auto;
margin-bottom:24px;

text-align:center;

}

.title{

font-size:100%;
color:#dcdcdc;
}

.setsumei{
width:90%;
font-size:85%;
color:#acacac;
margin-left:auto;
margin-right:auto;
}



@media screen and (min-width: 1024px){

/* ここに1024px〜のCSSを記述 */


.d_list{

width:100%; /* 530 530 */
}

.d_list li{
width:100%; /* 530 530 */

}


.d_list li img{
width:150px; 　
height:150px;

margin-left:5%;
background-color:#dcdcdc;
}



.number{
width:90%;
font-size:85%;
text-align:left;

}


.title{
width:90%;
font-size:100%;
text-align:left;

}


.date{
width:90%;

text-align:left;
margin-right:auto;
margin-left:auto;

}


}