.form_1 {
    width: 100%;
}

.form_1 th {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 13px;
    background: #1B1B1B;
}

.form_1 td {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.form_1 input {
    width: 100%;
}

.form_1 input[type="radio"] {
    width: auto;
}

.form_1 textarea {
    width: 100%;
}

input[type="button"],
input[type="submit"]
{
    display: block;
    width: 95px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#refusal {
    width: auto;
}

input[type="button"]:hover,
input[type="submit"]:hover
{
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.form_1 .column2_cell {
    text-align: center;
}

.form_1 .column2_input {
    width: 49%;
}

#form1 .addressCell {
    text-align: left;
}

#post_code1 {
    width: 30px;
}

#post_code2 {
    width: 35px;
}

.column1_select select {
    width: 100%;
}

.column3_select {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.column3_select select {
    width: 83%;
}


.btnList {
    margin: 30px 0;
    text-align: center;
}

.btnList li {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0;
}

.btnList a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    background: #f0ad4e;
}

.btnList a:hover {
    background: #00CE6F;
}

.backBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

.backBtn:hover {
    background-color: #00CE6F;
}

.completeMessage {
    text-align: center;
}

.errorMessage {
    text-align: left;
    color: #D0048F;
}

#form1 th em {
    background: #f96c06;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 5px;
    right: 10px;
    font-size: 85.714%;
}

.btnList .nonBtn a {
    background: #2c2c2c;
}

.btnList .nonBtn a:hover {
    color: #333;
    background: #e1e8ed;
}

.kiyaku_text {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.kiyaku_list > li {
    margin: 30px 0 0;
    font-size: 13px;
}

.kiyaku_list > li:firstchild {
    margin: 0;
}

/*mypage*/

div#mynavi_area {
    width: 100%;
}

div#mynavi_area .mynavi_list {
    margin-bottom: 20px;
    width: 100%;
}

div#mynavi_area .mynavi_list li {
    margin: 0 15px 5px 0;
    padding-left: 15px;
    float: left;
    font-size: 120%;
}

div#mynavi_area .mynavi_list li a {
    color: #fff;
}

div#mynavi_area .mynavi_list li a:hover {
    text-decoration: underline;
}

.mynavi_list:after {
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
    content: ".";
}

div#mynavi_area div.point_announce {
    margin-bottom: 30px;
    padding: 10px;
    border: solid 1px #ffcc62;
    background-color: #fffaf0;
}

div#mynavi_area div.point_announce p {
    padding-left: 20px;
    color: #333;
}

.user_name {
    font-weight: bold;
}

.st {
    font-weight: bold;
}

.point {
    color: #f00;
    font-weight: bold;
}

.mycondition_area {
    margin: 0 auto 20px 0;
    padding: 10px;
    border: solid 1px #ccc;
    width: 97%;
    background: #f9f9f9;
}

.mycondition_area:after {
    content: "";
    display: block;
    clear: both;
}

.mycondition_area p {
    float: left;
    color: #666;
}

.mycondition_area .btn {
    width: 160px;
    margin-top: 15px;
    float: right;
}

.message_area {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.message_area p {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px){

    .form_1 th {
        display: table-cell;
        text-align: center;
        width: 30%;
    }

    .form_1 td {
        display: table-cell;
        text-align: center;
        width: 40%;
        font-size: 13px;
    }

    .btnList li {
        margin: 0 20px;
    }

}

@media screen and (min-width: 1024px){


}