@charset "utf-8";

header nav{
	margin-bottom:0px;
}

.main_visualWrap {
	width: 100%;
    margin: 0 auto;
	border-bottom: 1px solid #6e7070;
}

.main_visual {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    
}

.main_visualWrap .slick-initialized .slick-slide {
    outline: none;
}

.main_visualWrap .slick-slide img {
	display: inline-block; 
}

.main_visualWrap .slick-prev {
    left: 10px;
}

.main_visualWrap .slick-next {
    right: 10px;
}

.main_visualWrap .slick-prev, .slick-next {
    z-index: 9999;
}

.main_visualWrap .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #94BDFB;
}

.main_visualWrap .slick-dots li button:before {
    color: #94BDFB;
}

.main_visualWrap .slick-dots {
    bottom: 15px;
}

.main_visualWrap .slick-dotted.slick-slider {
    margin-bottom: 0;
}

/* =======================================
	ClearFixElements
======================================= */


.contents .left_box .imgList:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

.contents .left_box .imgList {
	width: 96%;
	margin: 0 auto 20px;
}

.contents .left_box .imgList li {
    width: 48%;
    float: left;
    margin: 0 1%;
    text-align: center;
    border: none;
}

.contents .left_box .imgList li img {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 1024px){
}