@charset "utf-8";

.itemList:after,
.itemDetailBox:after,
.cartInputList:after,
.imgDetailList:after
{
	display: block;
	content: "";
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.cartInputList {
    padding: 20px;
    border: 1px solid #cef0f4;
}

.cartBtn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.cartBtn:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.linkBtn {
    display: block;
    width: 100px;
    margin: 30px auto 0;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

.linkBtn a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
}

.linkBtn:hover {
    background-color: #00CE6F;
}

.cartInputList li:first-child {
    margin: 11px 0 0;
}

.cartInputList li:first-child + li {
    margin: 20px 0 0;
}

.detailCartBox {
    margin: 30px 0 0
}

.itemNumberText {
    display: block;
    color: #fff;
}

.itemList {
	width: 96%;
	margin: 0 auto;
}

.itemList li {
	margin: 0 auto 60px;
}

.itemList li dt {
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
    height: 154px;
    max-height: 154px;
    text-align: center;
    background: #292929;
}

.itemList li dt img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 134px;
    max-height: 134px;
    border: 1px solid #fff;
}

.itemList li h3 {
	width: 100%;
    margin: 0 auto 24px;
    font-size: 16px;
    text-align: left;
}

.imgDetailList {
    width: 60%;
    float: none;
    margin: 0 auto;
}

.imgDetailList li {
    width: 50%;
    float: left;
    text-align: center;
}

.imgDetailList li img {
    border: 1px solid #fff;
}

.itemRightBox {
    width: 60%;
    float: none;
    margin: 30px auto 0;
}

input.item_number {
    width: 100px;
    text-align: right;
}


.itemList li dt {
    overflow: hidden;
}
.itemList li img {
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}
.itemList li img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media screen and (min-width: 591px){

.itemList li {
	width: 46%;
	float: left;
	margin: 0 2% 60px;
}

}

@media screen and (min-width: 1024px){

.imgDetailList {
    width: 50%;
    float: left;
}

.itemRightBox {
    width: 42%;
    float: left;
    margin: 0 0 0 4%;
}

.detailComment {
    margin: 20px 0 0;
}


}