.topics li{
	width:100%;
	margin:0 auto;
	padding-bottom:24px;
}

.liveList h3 {
    width: 90%;
    margin: 0 auto 24px;
}

.honbun1{
	width:90%;
	font-size:13px;
	margin: 0 auto;
}


.toiawase{
	width:90%;
	margin:0 auto;
	text-align:center;
	font-size:13px;
}


.link a{
	margin: 0 auto;
	text-decoration:none;
	color:#ffffff;
}


@media screen and (min-width: 768px) {
	


}

@media screen and (min-width: 1024px){

/* ここに1024px〜のCSSを記述 */


.toiawase{
	text-align:left;
}

.liveList h3 {
    text-align: left;
}

}