


.member{
margin-left:auto;
margin-right:auto;

}



.member img{
width:80%;
margin-left:auto;
margin-right:auto;
margin-bottom:24px;

display:block;
}


.bio_honbun{
font-size:13px;
margin-left:auto;
margin-right:auto;
padding-bottom:30px;
width:90%;
line-height:2.65;
}

section{
font-size:13px;
margin-left:auto;
margin-right:auto;
padding-bottom:30px;
width:90%;

}

section h3{
color:#dcdcdc;
font-size:13px;

}



@media screen and (min-width: 768px){

/* ここに768px〜1023pxのCSSを記述 */


.member{
width:100%;

margin-left:5.6603774%; 
position:relative;

}



.member img{

width:44.3396226%; 
float:left;
}

.bio_honbun{
text-align:left;
line-height:1.65;
clear:both;
}


}



@media screen and (min-width: 1024px){

/* ここに1024px〜のCSSを記述 */

.bio_honbun{
text-align:left;
line-height:1.65;
}

.member{
width:100%; /* 530 530 */
margin-left:5.6603774%; /* 30 530 */

}



.member img{
width:44.3396226%; /* 235 530 */
float:left;
margin-bottom:24px;

display:block;
}


.contents .left_box h3{
width:100%;
text-align:left;
}

}
