

.member {
	width:100%;
	overflow:hidden;
}

.member a:hover{
	opacity:0.6;
}


.member li {
    width: 50%;
    float: left;
    background: #fff;
}

.member li img {
	width: 100%;
}

@media screen and (min-width: 768px){

/* ここに768px～1023pxのCSSを記述 */

.member {
    width: 96%;
    margin: 0 auto;
}




.member li {
	width:25%;
}



}



@media screen and (min-width: 1024px){

/* ここに1024px～のCSSを記述 */


}