@charset "utf-8";

.itemList:after,
.itemDetailBox:after,
.cartInputList:after,
.imgDetailList:after
{
	display: block;
	content: "";
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.cartInputList {
    padding: 20px;
    border: 1px solid #cef0f4;
}

.cartBtn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.cartBtn:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.cartInputList li:first-child {
    margin: 11px 0 0;
}

.cartInputList li:first-child + li {
    margin: 20px 0 0;
}

.detailCartBox {
    margin: 30px 0 0
}

.itemNumberText {
    display: block;
    color: #fff;
}

.itemList {
	width: 96%;
	margin: 0 auto;
}

.itemList li {
	margin: 0 auto 60px;
}

.itemList li dt {
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
    height: 154px;
    max-height: 154px;
    text-align: center;
    background: #292929;
}

.itemList li dt img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 134px;
    max-height: 134px;
    border: 1px solid #fff;
}

.itemList li h3 {
	width: 100%;
    margin: 0 auto 24px;
    font-size: 16px;
    text-align: left;
}

.imgDetailList {
    width: 60%;
    float: none;
    margin: 0 auto;
}

.imgDetailList li {
    width: 50%;
    float: left;
    text-align: center;
}

.imgDetailList li img {
    border: 1px solid #fff;
}

.itemRightBox {
    width: 60%;
    float: none;
    margin: 30px auto 0;
}

input.item_number {
    width: 100px;
    text-align: right;
}


.itemList li dt {
    overflow: hidden;
}
.itemList li img {
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}
.itemList li img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.searchBox {
    margin: 0 0 60px;
    padding: 0 0 30px;
    border: 1px solid #fff;
}

.searchBox h3 {
    margin: 20px;
    font-size: 120%;
}

.form_1 {
    width: 100%;
}

.form_1 th {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: #1B1B1B;
}

.form_1 td {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.form_1 select {
    width: 100%;
}

.form_1 .checkboxCell ul:after
{
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.form_1 .checkboxCell {
    text-align: left;
}

.form_1 .checkboxCell ul li {
    width: 50%;
    float: left;
}

input[name="name"] {
    width: 100%;
}

input[type="submit"] {
    display: block;
    width: 115px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    background-color: #f0ad4e;
    border-color: #eea236;
}

input[type="submit"]:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.resultBox {
    margin: 20px 0 0;
    padding: 30px;
    background: #292929;
}

.cateTitle1 {
    margin: 0 0 10px;
}

.cateTitle1 span {
    display: inline-block;
    padding: 5px;
    background: #D9534F;
}

.cateTitle2 {
    margin: 0 0 10px;
}

.cateTitle2 span {
    display: inline-block;
    padding: 5px;
    background: #4fd96d;
}

.cateTitle3 {
    margin: 0 0 10px;
}

.cateTitle3 span {
    display: inline-block;
    padding: 5px;
    background: #4f66d9;
}

@media screen and (min-width: 591px){

.itemList li {
	width: 46%;
	float: left;
	margin: 0 2% 60px;
}

}

@media screen and (min-width: 1024px){

.imgDetailList {
    width: 50%;
    float: left;
}

.itemRightBox {
    width: 42%;
    float: left;
    margin: 0 0 0 4%;
}

.detailComment {
    margin: 20px 0 0;
}

.form_1 th {
    display: table-cell;
    width: 20%;
    padding: 10px;
    text-align: left;
    background: #1B1B1B;
}

.form_1 td {
    display: table-cell;
    width: auto;
    padding: 10px;
    text-align: left;
}

.form_1 select {
    width: 70%;
}

}