﻿/* 全体の設定 */

/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
↓YUI3 CSS Reset　ブラウザー固有のスタイルをリセットします↓　*/
body,div,dl,dt,dd,
ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
input,textarea,p,blockquote,th,td,article,aside,dialog,figure,footer,header,
hgroup,nav,section{
 	margin:0;
 	padding:0;
 	line-break:strict;
 	box-sizing: border-box;
 	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

a{
text-decoration:none;
}

ul,ol{
list-style:none;

}

table {
 	border-collapse:collapse;
 	border-spacing:0;
}
img {
 	border:0;
 	vertical-align:middle;
max-width:100%;
height: auto;
width /***/:auto;　
display:block;
}
ul,ol,li {
 	list-style:none;
}    

h1,h2,h3{
margin-bottom:24px;

}

h1{
font-size:3em;/* 48px */
line-height:1;
margin-bottom:0.5em;/* 24px */

}

h2{
font-size:1em;/* 16px */
line-height:1.3333;
margin-bottom:24px;/* 24px */

}

h3{
font-size:1.5em;/* 24px */
line-height:1;
margin-bottom:1em;/* 24px */

}


/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
　↓YUI3 CSS Fonts　フォントサイズを相対指定する↓　*/
body{
	/*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", verdana,sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	font-size:100%;
	line-height:1.5;
}

/* YUI3 CSS Fonts フォントサイズ対応表
10px:77%     11px:85%     12px:93% 
13px:100%    14px:108%    15px:116%
16px:123.1%  17px:131%    18px:138.5%
19px:146.5%  20px:153.9%  21px:161.6%
22px:167%    23px:174%    24px:182%
25px:189%    26px:197%
*/