.form_1 {
    width: 100%;
}

.form_1 th {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: #1B1B1B;
}

.form_1 td {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.form_1 input {
    width: 100%;
}

.form_1 textarea {
    width: 100%;
}

.confirm .form_1 td {
    text-align: left;
}

#form1 .addressCell {
    text-align: left;
}

#zip1 {
    width: 30px;
}

#zip2 {
    width: 35px;
}

.completeMessage {
    text-align: center;
}

#loading{
    width:100px;
    height: 160px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px dashed #999;
    background-color:#FFF;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}
 
#loading .loadingMsg{
    text-align: center;
    padding-top: 100px;
    background-image:url("./../image/loading.gif");
    background-position: center ;
    background-repeat: no-repeat;
    font-family: "メイリオ"!important;
}

.errorMessage {
    text-align: left;
    color: #D0048F;
}

#form1 th em {
    background: #f96c06;
    color: #FFFFFF;
    padding: 2px 5px;
    margin-left: 5px;
    right: 10px;
    font-size: 85.714%;
}

.shop_information {
    border-top: 1px solid #fff;
    margin: 30px 0 0;
    padding: 30px 0 0;
}

.information {
    margin-bottom: 15px;
}

#address_area:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

#address_area .information {
    width: 96%;
    float: none;
    margin: 0 auto 10%;
}

#address_area .add_multiple {
    float: none;
    width: 96%;
    margin: 0 auto 6%;
    border: 1px solid #ffcc62;
}

#address_area .add_multiple p {
    padding: 15px 15px 15px;
}

.shoppingTbl {
    width: 96%;
    margin: 0 auto 30px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.shoppingTbl th {
    padding: 8px;
    color: #333;
    font-weight: normal;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.shoppingTbl td {
    padding: 8px;
    color: #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.addbtn {
    clear: both;
    width: 96%;
    margin: 0 auto;
}

.addbtn a {
    display: block;
    width: 100%;
    margin: 0 0 2%;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    background-color: #f0ad4e;
    border-color: #eea236;
    transition: 0.5s;
    box-sizing: border-box;
}

.addbtn a:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.attention {
    color: #f00;
}

.mini {
    font-size: 90%;
}

.btnList li a {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 80%;
    background-color: #f0ad4e;
    border-color: #eea236;
    transition: 0.5s;
}

.btnList li a:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.btnList li {
    width: 48%;
    margin: 10px 0;
}

.btnList .backBtn {
    background: #999;
}

.btnList .nextBtn {
    background: #AFC50B;
    width: 100%;
    padding: 10px 0;
    border: 0;
}

#paymentTbl {
    margin: 15px auto 20px auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#paymentTbl th {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #f0f0f0;
    font-weight: normal;
}

#paymentTbl td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.pay_area02 {
    margin: 40px auto 30px auto;
}

.top {
    margin-bottom: 5px;
}

.pay_area02 h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    background: url(../img/background/line_01.gif) repeat-x left bottom;
    font-size: 120%;
}

.point_area h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    font-size: 120%;
}

.point_area .point_announce {
    padding: 20px;
    border: 1px solid #ccc;
}

.left_box h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    font-size: 120%;
}

table .alignC {
    text-align: center;
}

table .alignR {
    text-align: right;
}
@media screen and (min-width: 591px){

    #address_area .information {
        width: 60%;
        float: left;
    }

    #address_area .add_multiple {
        float: right;
        width: 35%;
        margin: 0 0 0 2%;
    }

    .addbtn a {
        max-width: 200px;
    }

    .btnList li {
        width: 135px;
        margin: 0 10px;
    }

}

@media screen and (min-width: 768px){

    .form_1 th {
        display: table-cell;
        text-align: center;
        width: 30%;
    }

    .form_1 td {
        display: table-cell;
        text-align: center;
        width: 40%;
        font-size: 13px;
    }

}

@media screen and (min-width: 1024px){


}