#slider{
	position: relative;
	width:100%;
	height: 480px;
	overflow: hidden;
	background: url(../img/loading.gif) no-repeat center center;
}
#slider ul{
	position: absolute;
	top: 0;
	left: 0;
}
#slider li{
	float: left;
}
#slider #prev,
#slider #next{
	position: absolute;
	top:220px;
	cursor: pointer;
}
#slider #prev{ left:20px;}
#slider #next{ right:20px;}

/* for script */
#slider ul,
#slider #next,
#slider #prev{
	visibility: hidden;
}
#slider .layer{
	width: 900px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/dot.gif) repeat 0 0 #666;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/*
 * common
 */
.stage{
	width: 980px;
	margin: 0 auto;
}

