@charset "utf-8";


/******************************************
html,body
******************************************/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
	background: #F3F3F3;
}


/******************************************
spModalBox
******************************************/

.spModalBox {
    display: none;
}

/******************************************
header
******************************************/

header:after,
header ul:after
 {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

header h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
}

header h1 a,
header h1 span
{
	color: #fff;
}

header ul {
    width: 90%;
    margin: 18px auto;
}

header ul li:first-child {
    width: 100%;
    color: #fff;
}

header ul li:first-child + li {
    width: 100px;
    margin: 0 auto;
}

.logoutButton {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
    transition: 0.5s;
}

.logoutButton:hover {
    background-color: #00CE6F;
}

/******************************************
nav
******************************************/
nav {
    width: 90%;
    margin: 0 auto;
}

nav li {
    margin: 10px 0 0;
    color: #fff;
}

nav a {
    display: block;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    font-size: 70%;
    transition: 0.5s;
    background: #13856E;
}

nav a:hover {
    background: #13855b;
}

nav i {
    margin: 0 2.5%;
}

/******************************************
.contents系統
******************************************/

.outerLeftBox {
    position: fixed;
    z-index: 99999;
    width: 15.93%;
    height: 100%;
    float: left;
}

.outerRightBox {
    width: 84.07%;
    height: 100%;
    float: left;
    margin: 0 0 0 15.93%;
}

.innerLeftBox1 {
    display: none;
    width: 16.66%;
    height: 100%;
    float: left;
    background: #13856E;
    overflow-y: auto;
}

.innerLeftBox2 {
    /*width: 83.33%;*/
    width: 100%;
    height: 100%;
    float: left;
    background: #18A689;
    overflow-y: auto;
}

.innerRightBox1 {
    /*width: 81.25%;*/
    width: 100%;
    float: left;
}

.innerRightBox2 {
    display: none;
    position: fixed;
    z-index: 99999;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15.75%;
    height: 100%;
    float: left;
    background: #2B2E33;
    overflow-y: auto;
}

.innerRightBox1:after,
.innerRightBox2:after
 {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.contentsBoxWrap:after,
.contentsBox:after,
.contents:after
 {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.contentsBoxWrap {
    width: 50%;
    float: left;
    padding: 20px 20px 0px;
}

.girl_schedule.contentsBoxWrap {
    width: 100%;
}

.colum1 .contentsBoxWrap {
    width: 100%;
}

.contentsBox {
	padding: 20px;
	background: #fff;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
}

.contents {
	margin: 0 0 30px;
}

.sortAttention {
    color: red;
}

/******************************************
master_message
******************************************/

.contents .master_message li:first-child {
    margin: 0;
    padding: 0;
    border-top: 0;
}

.master_message li {
    margin: 30px 0 0;
    padding: 30px 0 0;
    border-top: 1px solid #000;
}

/******************************************
アイコン
******************************************/

.iconList {
    display: none;
}

.iconList li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0 5px;
    font-size: 40%;
}

.iconList li a i {
    display: block;
    margin-bottom: 5px;
    font-size: 500%;
}


#loading {
    width:120px;
    height: 160px;
    padding: 15px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px dashed #999;
    background-color:#FFF;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}
 
#loading .loadingMsg {
    text-align: center;
    padding-top: 100px;
    background-image:url("../img/loading.gif");
    background-position: center ;
    background-repeat: no-repeat;
    font-family: "メイリオ"!important;
}

/******************************************
各ページ見出し
******************************************/
.contentsBox h2 {
    padding: 5px 10px;
    color: #fff;
    font-size: 100%;
    background: #0090D9;
}

.contentsBox h3 {
    padding: 0 0 0 5px;
    font-family: "リュウミン";
    font-weight: normal;
    font-size: 86%;
    border-left: 3px solid #0090D9;
}

.contentsBox .cateTitle1 {
    margin: 0;
    padding: 5px 10px;
    font-family: "リュウミン";
    font-weight: normal;
    font-size: 86%;
    color: #fff;
    border: 0;
    background: #00d96f;
}

/******************************************
adminMessage
******************************************/
.adminMessage {
    padding: 5px 10px;
    color: #333;
    background: #a8a8bd;
}

/******************************************
record_none_message
******************************************/

.record_none_message {
	font-size: 13px;
	text-align: center;
}

/******************************************
dialog
******************************************/

.dialog {
	width: 80% !important;
}

/******************************************
pager
******************************************/

.pager {
    width: 260px;
    margin: 30px auto 0;
    text-align: center;
}

.pager:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.pager li {
    margin: 0 0 20px;
    display: inline-block;
    text-align: center;
}

.pager li a,
.pager li em
{
    display: block;
    width: 40px;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #0000ff;
}

.pager li a:hover {
    display: block;
    color: #fff;
    background: #0000ff;
}

/******************************************
form
******************************************/

.adminTable input[type="text"],
.adminTable input[type="password"]
{
	width: 100%;
}

.contents .adminTable input.sort {
    width: 30px;
}

.adminTable textarea {
    width: 100%;
    height: 100px;
}

.adminTable .dispFlgCell {
    text-align: left;
}

.adminTable label {
	font-size: 100%;
}

.adminTable td p,
.imgBox
{
    color: red;
    text-align: left;
}

.adminTable td p img {
    max-width: 150px;
}

.adminTable {
    width: 100%;
    font-size: 80%;
    background: #F5F5F5;
}

.adminTable th {
    width: 150px;
    padding: 10px 0;
    color: #fff;
    font-size: 100%;
    background: #576879;
}

.adminTable th[colspan="2"] {
    background: #334454;
}

.adminTable td {
	padding: 10px;
    font-size: 86%;
    text-align: center;
}

.adminTable .imgBox img {
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

.button_cell {
	text-align: center;
}

.adminTable .checkboxCell ul:after
{
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.adminTable .checkboxCell {
    text-align: left;
}

.adminTable .checkboxCell ul li {
    width: 50%;
    float: left;
}

input[type="button"],
input[type="submit"]
{
    display: block;
    width: 95px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    background-color: #f0ad4e;
    border-color: #eea236;
    transition: 0.5s;
}

input.csvExButton,
input.csvInButton
{
    display: block;
    width: 165px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    background-color: #8975da;
    border-color: #8975da;
    transition: 0.5s;
}

.csvBox {
    width: 165px;
    margin: 0 auto 20px;
}

.fileInpit {
    display: block;
    width: 90px;
    margin: 5px 0px;
    padding: 6px;
    color: white;
    border-radius: 12px;
    background-color: #C75757;
    cursor: pointer;
    transition: 0.5s;
}

.fileInpit:hover {
    background-color: #57c784;
}

input[type="button"]:hover,
input[type="submit"]:hover
{
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.moveCarender_list a {
    display: block;
    width: 160px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    background-color: #f0ad4e;
    border-color: #eea236;
    transition: 0.5s;
    border-width: 2px;
    border-style: outset;
}

.moveCarender_list a:hover {
    cursor: pointer;
    border-color: #00CE6F;
    background-color: #00CE6F;
}

.moveCarender_list a i {
    margin: 0 2.5%;
}

.update_button {
	display: block;
    width: 95px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background-color: #00CE6F;
    transition: 0.5s;
}

.update_button:hover {
    background-color: #d9534f;
}

.fileInpit {
    display: block;
    width: 90px;
    margin: 5px 0px;
    padding: 6px;
    color: white;
    border-radius: 12px;
    background-color: #C75757;
    cursor: pointer;
    transition: 0.5s;
}

.fileInpit:hover {
    background-color: #57c784;
}

select {
    width: 100%;
    font-size: 100%;
}

#post_code1 {
    width: 30px;
}

#post_code2 {
    width: 35px;
}

.adminTable .column2_cell {
    text-align: center;
}

.adminTable input.column2_input {
    width: 49%;
}

.adminTable .column3_select {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.adminTable .column3_select select {
    width: 83%;
}

.adminTable .addressCell {
    text-align: left;
}

.adminTable .spinner .ui-spinner {
    display: block;
    text-align: left;
}

.collumn3Box {
    display: inline-block;
}

.contents .adminTable .collumn3 {
    width: 30px;
}
/******************************************
calender
******************************************/
.calender {
    width: 100%;
    margin: 0 auto 60px;
    border-left: 1px solid #999089;
}
    
.month {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 3px 0 2px;
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
    background: #18A689;
}

.calender th, .calender td {
    width: calc(100% / 7);
    text-align: center;
    font-size: 12px;
    border-right: 1px solid #999089;
    border-bottom: 1px solid #999089;
    background: #fff;
}

.calender th {
    padding: 2px;
}

.calender td a {
    display: block;
    padding: 10px;
    color: #333;
    font-weight: bold;
}

.calender td .calender_link:hover {
    color: #fff;
    background: #0090D9;
}

.calender .saturday a {
    color: #0000bf;
}

.calender .sunday a {
    color: #bf0000;
}

.scheduleList dt {
    color: #fff;
    background: #576879;
}

.scheduleList a {
    display: block;
    color: #fff;
}

.schedule_link:hover dd {
    text-decoration: underline;
}

.moveCarender_list {
    margin: 0 0 30px;
    text-align: center;
}

.moveCarender_list li {
    display: inline-block;
    vertical-align: top;
}

.moveCarender_list input {
    width: 150px;
}


/******************************************
footer
******************************************/

footer {
    position: fixed;
    z-index: 9999;
    clear: both;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    background: #4D4D4D;
    bottom: 0;
    left: auto;
    right: auto;
    margin: 0 auto;
}

/******************************************
メッセージ
******************************************/

.success_text {
    margin: 0 0 20px;
    color: 333;
}


.error_text {
    margin: 0 0 20px;
    color: red;
}

@media screen and (max-width: 1300px){

.outerLeftBox {
    width: 25.76%;
}

.outerRightBox {
    width: 74.07%;
    margin: 0 0 0 24.96%;
}

.contentsBoxWrap {
    width: 100%;
    float: none;
}

}


@media screen and (max-width: 1000px){

/******************************************
header
******************************************/

header ul {

}


/******************************************
nav
******************************************/

nav {
    
}

/******************************************
.contents系統
******************************************/

.contentsBoxWrap {
}

.contentsBox {
}

/******************************************
form
******************************************/

.adminTable {
    width: 98.06835066%;
}

.adminTable input[type="text"],
.adminTable input[type="password"]
{
    width: 100%;
}

.adminTable textarea {
    width: 100%;
}

.adminTable input.column2_input {
    width: 48%;
}

}

@media screen and (max-width: 768px){

/******************************************
header
******************************************/

header h1 {
    width: 100%;
    float: none;
}

header ul {
    width: 96%;
    float: none;
    margin: 20px auto;
}



/******************************************
nav
******************************************/
nav {
    width: 90%;
    float: none;
    height: auto;
    padding: 10px 0;
}

nav a {
    font-size: 70%;
}

/******************************************
.contents系統
******************************************/

.outerRightBox {
    width: 77.67%;
    margin: 0 0 0 21.46%;
}

.innerLeftBox1 {
    display: none;
    float: none;
}

.contentsBoxWrap {
    width: 94%;
    float: none;
    margin: 0 auto;
}

/******************************************
form
******************************************/

.moveCarender_list li {
    margin: 20px 0 0;
}

}

@media screen and (max-width: 591px){

/******************************************
spModalBox
******************************************/

.spModalBox {
    display: block;
}

#slideBtn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 54px;
    padding: 10px 0;
    background: #18A689;
}


#naviOpen {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    display: block;
    width: 10%;
    margin: auto;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger span:nth-of-type(3),
.menu-trigger.active span:nth-of-type(3) {
  transition: none;
}
.menu-trigger.active {
  -webkit-transform: rotateX(720deg);
  transform: rotateX(720deg);
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.menu-trigger.active span:nth-of-type(3) {
  opacity: 0;
}

.slideNavi {
    display: none;
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 100%;
    margin: auto;
    padding: 10px 0 54px;
    background: #18A689;
    overflow-y: auto;
}

.slideNavi ul {
    width: 90%;
    margin: 0 auto;
}

.user_name {
    text-align: center;
}

.user_name a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.adminTable th {
    display: block;
    width: 100%;
}

.adminTable td {
    display: block;
}

/******************************************
header
******************************************/

header ul li:first-child {
    width: 96%;
    float: none;
    margin: 0 auto 20px;
    text-align: center;
}

header ul li:first-child + li {
    width: 40%;
    float: none;
    margin: 0 auto;
}

.table-wrap {
	overflow: auto;
}


/******************************************
.contents系統
******************************************/

.outerLeftBox {
    display: none;
    float: none;
}

.outerRightBox {
    width: 100%;
    margin: 54px auto 30px;
    height: auto;
}

.innerLeftBox2 {
    display: none;
}

.innerRightBox2 {
    display: none;
}

.innerRightBox1 {
    width: 100%;
    float: none;
}

.contentsBoxWrap {
    width: 100%;
}

/******************************************
footer
******************************************/

footer {
    position: static;
}

}

@media screen and (max-width: 414px){

.updateTable th {
    display: table-cell;
}

.updateTable td {
    display: table-cell;
}

.adminTable td p,
.imgBox
{
    text-align: center;
}

.adminTable .imgBox {
    text-align: center;
}

.fileInpit {
    margin: 5px auto;
}

.adminTable .dispFlgCell {
    text-align: center;
}

.csvBox {
    margin: 0 auto 20px;
}

}




/******************************************
girl_scheduleBox
******************************************/

.girl_scheduleBox {
    width: 100%;
    margin: 0 auto 30px;
    overflow-x: auto;
}

.girl_scheduleBox table {
    width: 100%;
    margin: 40px auto 0;
    table-layout: fixed;
}

.girl_scheduleBox td {
    width: 200px;
    padding: 10px;
}

.girl_scheduleBox select {
    width: auto;
}

.girl_scheduleBox .nameCell {
    color: #fff;
    text-align: center;
    background: #576879;
}

.dateCell {
    color: #fff;
    text-align: center;
    background: #576879;
}

.girl_name {
    text-align: center;
    background: #F5F5F5;
}

.girl_work_hour {
    text-align: center;
    background: #F5F5F5;
}

.girl_scheduleBtn {
    margin: 0 auto 30px;
}